body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.mainAuctionSpawnPage {
    background-color: white;
}

.customBannerNavBarBG {
    background-color: darkorange;
    color:azure;
}

a.wColor {
    color: white;
}

a.lMarginNe30 {
    margin-left:-30px;
}

button.customBtn {
    border: 1px solid #ddd;
    margin-top: 3px;
}

span.fwBold{
    font-weight: bold;
}

input.counterBox {
    border-color: lightgrey;
    background-color: lightblue;
    color: orange;
    width: 100px;
    height: 50px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

input.wAddMore {
    width: 120px;
}